---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
const articlesToShow = 10;
const allArticles = await getCollection("articles");
const orderedArticles = allArticles.sort((a,b)=>{
    const aDate = a.data.updateDate ?? a.data.pubDate;
    const bDate = b.data.updateDate ?? b.data.pubDate;
    return bDate.getTime() - aDate.getTime();
}).slice(0, articlesToShow);
---
<PageLayout title="Index">
    <h2 class="text-xl font-bold text-primary-light dark:text-primary-dark sm:text-2xl lg:text-3xl">Welcome</h2>
    <div class="">
        <p class="leading-loose">
            This is your index page.
            <br>
            Use this template as a starting point for building your knowledge base, docs or wiki.
            <br>
            You can rewrite this pages completely, but first please take a look at some features
            provided by this template:
        </p>
        <ul class="pl-5 list-disc">
            <li>
                Completely static generated site
            </li>
            <li>
                Static page search
            </li>
            <li>
                Responsive design
            </li>
            <li>
                Article's Layout with a functional Content Table
            </li>
            <li>
                Color palettes with TailwindCss
            </li>
        </ul>
    </div>
    <div>
        <h2>Last updated articles:</h2>
        <ul class="pl-5 list-disc underline underline-offset-4">
            {orderedArticles.map((article)=>{
                return <li>
                    <a href={`/articles/${article.slug}/`}>{article.data.title}</a>
                </li>
            })}
        </ul>
    </div>
    

</PageLayout>
