---
const { headings } = Astro.props;
---

<div class="p-5 hidden w-1/6
            lg:flex lg:flex-col">
    Content table
    <ul class="list-disc p-5">
        <li>ch1</li>
        <li>ch1</li>
        <li>ch1</li>
        <li>ch1</li>
    </ul>
</div>