---

---
<footer class="mt-5 h-20 w-full max-w-screen-xl bg-primary-dark dark:bg-primary-light flex flex-col items-center justify-center bottom-0">
    <div class="w-fit flex flex-row gap-3">
        If you like it, Please
        <a class="github-button" href="https://github.com/gerardo-m/astro_knowledge_base" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star" data-size="large" aria-label="Star gerardo-m/astro_knowledge_base on GitHub">Star the repo</a>
    </div>
</footer>