---
import PageLink from "./PageLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
const pages = await Astro.glob("../pages/*.astro");
const firstPages = ["index", "categories"];
const otherPages = pages.filter((page) => !firstPages.includes(page.default.name));
---
<nav id="menu-list" class="fixed w-full flex flex-col items-end left-full transition ease-out duration-500">
    <ul class="w-3/4 p-3 bg-surface-100 dark:bg-surface-900">
        <PageLink url="/" name="Index"></PageLink>
        <PageLink url="/categories" name="Categories"></PageLink>
        {
            otherPages.map((page) =>{
                return <PageLink url={page.url + "/"} name={page.default.name}></PageLink>
            })
        }
        <li class="flex flex-row w-full  bg-surface-200 dark:bg-surface-800 items-center justify-between">
            <span>Theme</span>
            <ThemeIcon></ThemeIcon>
        </li>
    </ul>
</nav>

<script is:inline>
    const showMenu = () => {
        const element = document.getElementById("menu-list");
        element.classList.toggle("-translate-x-full");
    }
    document.getElementById("menu-hamburger").addEventListener("click", showMenu);
</script>