---
import PageLink from "./PageLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
const pages = await Astro.glob("../pages/*.astro");
const firstPages = ["index", "categories"];
const otherPages = pages.filter((page) => !firstPages.includes(page.default.name));
---
<nav id="menu-list" class="fixed size-full flex flex-col items-end left-full transition ease-out duration-500 z-20
        sm:left-0 sm:relative mt-16">
    <ul class="w-3/4 p-3 bg-primary-200 dark:bg-primary-800
                sm:flex sm:flex-row sm:size-full sm:justify-around sm:py-0 sm:h-16 sm:px-6
                md:text-lg lg:text-xl">
        <PageLink url="/" name="Index"></PageLink>
        <PageLink url="/categories" name="Categories"></PageLink>
        {
            otherPages.map((page) =>{
                return <PageLink url={page.url + "/"} name={page.default.name}></PageLink>
            })
        }
        <li class="flex flex-row w-full items-center justify-between z-30
                    sm:w-auto sm:flex-grow sm:justify-end">
            <span class="sm:hidden">Theme</span>
            <ThemeIcon></ThemeIcon>
        </li>
    </ul>
</nav>

<script is:inline>
    const showMenu = () => {
        const modalBg = document.getElementById("content-modal");
        const element = document.getElementById("menu-list");
        const menuHamburger = document.getElementById("menu-hamburger");
        element.classList.toggle("-translate-x-full");
        modalBg.classList.toggle("hidden");
        menuHamburger.classList.toggle("fill-txt-light");
        menuHamburger.classList.toggle("dark:fill-txt-dark");
        menuHamburger.classList.toggle("fill-secondary-dark");
        menuHamburger.classList.toggle("dark:fill-secondary-light");
    }
    const hideMenu = () => {
        const element = document.getElementById("menu-list");
        const modalBg = document.getElementById("content-modal");
        const menuHamburger = document.getElementById("menu-hamburger");
        element.classList.remove("-translate-x-full");
        modalBg.classList.add("hidden");
        menuHamburger.classList.add("fill-txt-light", "dark:fill-txt-dark")
        menuHamburger.classList.remove("fill-secondary-dark", "dark:fill-secondary-light")
        
    }
    document.getElementById("menu-hamburger").addEventListener("click", showMenu);
    document.getElementById("menu-list").addEventListener("click", hideMenu);
</script>