---

---

<div id="search-button" class="bg-secondary-light dark:bg-secondary-dark border border-secondary-dark dark:border-secondary-light text-secondary-dark dark:text-secondary-light rounded-full flex flex-row justify-between mt-1 py-2 px-4 gap-2 sm:w-1/4">
    <p>Search...</p>
    <svg class="w-4 fill-secondary-dark dark:fill-secondary-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
</div>

<script is:inline>
    const showSearch = () =>{
        const dialog = document.getElementById("search-dialog");
        const element = document.getElementById("menu-list");
        const modalBg = document.getElementById("page-modal");
        element.classList.remove("-translate-x-full");
        modalBg.classList.remove("hidden");
        dialog.classList.remove("hidden");
    }

    document.getElementById("search-button").addEventListener("click", showSearch);
</script>