---
import "../scripts/darkmode";
import Header from '../components/Header.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import Navigation from "../components/Navigation.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Wiki</title>
</head>
<body class="bg-surface-light dark:bg-surface-dark text- dark:text-txt-dark">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
    <Header></Header>
    <Navigation></Navigation>
  
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
    <div class="mt-16">
        <slot></slot>
    </div>
    
</body>
</html>